@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap");

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-color: rgb(32, 51, 70);
  color: rgb(255, 255, 255);
}

body > h1 {
  margin: 20px 0px;
  font-size: 48px;
  padding: 0px 8px 4px 8px;
  border-bottom: solid 3px rgb(253, 215, 133);
  border-radius: 4px;
  font-weight: 900;
  text-shadow: 0px 2px 8px rgb(255, 202, 87);
}

.board {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 40vh;
  border: dashed 2px rgb(253, 215, 133);
  border-radius: 4px;
  padding: 8px;
}

.board > .selection-display {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  text-align: center;
  font-size: 96px;
  font-weight: 900;
  height: 100%;
}

.board > .player-selection {
  border-right: dashed 1px rgb(253, 215, 133);
}

.board > .computer-selection {
  border-left: dashed 1px rgb(253, 215, 133);
}

.controls {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  padding: 10px;
  border: solid 2px rgb(253, 215, 133);
  border-radius: 4px;
}
