@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap");

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-color: rgb(32, 51, 70);
  color: rgb(255, 255, 255);
}

body > h1 {
  margin: 20px 0px;
  font-size: 48px;
  padding: 0px 8px 4px 8px;
  border-bottom: solid 3px rgb(253, 215, 133);
  border-radius: 4px;
  font-weight: 900;
  text-shadow: 0px 2px 8px rgb(255, 202, 87);
}

.board {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 40vh;
  border: dashed 2px rgb(253, 215, 133);
  border-radius: 4px;
  padding: 8px;
}

.board > .scoreboard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-weight: 900;
}

.scoreboard > div {
  font-size: 24px;
  text-align: center;
}

.board > .selection-display-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.selection-display-container > .selection-display {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex: 1 1 auto;
  text-align: center;
  font-size: 96px;
  font-weight: 900;
  height: 100%;
}

.selection-display-container > .player-selection {
  border-right: dashed 1px rgb(253, 215, 133);
}

.selection-display-container > .computer-selection {
  border-left: dashed 1px rgb(253, 215, 133);
}

.board > .result {
  font-weight: 900;
  font-size: 24px;
  margin: 10px 0px;
}

.controls {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  padding: 10px;
  border: solid 2px rgb(253, 215, 133);
  border-radius: 4px;
}

.controls > .btn-header {
  font-weight: 900;
  letter-spacing: 0.15rem;
}

.btn {
  background-color: rgb(57, 79, 99);
  padding: 10px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.15rem;
  color: rgb(255, 255, 255);
  border-bottom: inset 2px transparent;
}

.btn:hover {
  background-color: rgb(87, 120, 150);
  border-bottom: inset 2px white;
}
